body{
    background-color: black;
    border: 5px solid green;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 65px;
    color: green;
}

@media only screen and (max-width: 800px) {
    p{
        font-size: 38px;
    }
  }
