body{
    background-color: green;
    border: 5px solid black;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 65px;
}

@media only screen and (max-width: 450px) {
    p{
        font-size: 38px;
    }
  }